.btn{
    background-color:$mainBlue;
    color:#FFF;
    text-decoration:none;
    display:inline-block;
    padding:.75rem 1.25rem;
    &__orange{
        background-color:$mainOrange;
    }
    &__large{
        
        pading: 1.15rem 1.875rem;

        @mixin small{
            font-size:1.25rem;
        }

    }
}