.generic-content-container{
    p{
        line-height:1.65;
        font-size: 1.125rem;
        margin: 0 0 1.75rem 0;
        p{
            font-weight:300;
        }

        @mixin small{
            font-size:1.125rem;
        }
    }

    p a{
        font-weight:700;
    }
}