.large-hero{
    position: relative;
    border-bottom:10px solid $mainBlue;
    &__text-content{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        width:100%;
        text-align:center;
    }

    &__image{
        display: block;
    }
    &__title{
        font-weight:400;
        color:$mainBlue;
        font-size:2.5rem;
        margin:0;
        @mixin small{
            font-size:4.75rem;
        }
        
    }
    &__subtitle{
        font-weight:300;
        color:$mainBlue;
        font-size:1.5rem;
        margin:0;
        @mixin small{
            font-size:2.5rem;
        }
    }

    &__description{
        color:#fff;
        
        
        font-weight:300;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
         max-width:30rem;
         margin:auto;
         @mixin small{
            font-size:1.875rem;
         }
    }

}

