.page-section{
    padding: 1.25rem 0;
   
    @mixin medium{
        padding: 4.5rem 0;
    }

    &__blue{
        background-color:$mainBlue;
        color:white;
       }

       &__no-b-padding-until-md{

        padding-bottom:0;

         @mixin medium{
            padding-bottom:4.5rem;
        }


       }
    &__testimonials{
        background-color:#e0e6ef;
        @mixin medium{
            background: url("/assets/images/testimonials-bg.jpg") top center no-repeat;
            background-size:cover; 

        }
       
    }
}