.section-title{

  font-size:2.5rem;

    font-weight:300;
    text-align:center;
    strong{
        font-weight:500;
        
    }
    &__blue{
        color:$mainBlue;
    }
    &__icon{
        margin-bottom:0.75rem;
        display:block;
        margin-left:auto;
        margin-right:auto;
       
    }

    @mixin small{
        &__icon{
            position:relative;
            top:8px;
            margin-bottom:0;
            margin-left:0;
            display:inline;
            margin-right:0.5rem;
        }
        font-size: 3.75rem;
    }



}