.site-header{

    transition: all .5s ease-out;

    &__is-expanded{
        background-color: rgba($mainBlue,0.8)
    }

    position: absolute;
    padding:8px 0; 
    z-index: 2;
    @mixin medium{
    background-color: rgba($mainBlue, 0.3);
    }
    width:100%;

    &__btn-container{
        
        @mixin medium{
            float:right;
        }
    }

    &__logo{
        position: absolute;
        background-color: $mainBlue;
        padding: 24px 36px;
        left:50%;
        transform: translateX(-50%) scale(0.8);
        transform-origin: 50% 0;
        @mixin medium{
            left:auto;
            transform:translateX(0);
        }
        top:0;
        

    }

   &__logo__graphic{
       text-indent:-999999px;
   }
   &__menu-icon{
    
       z-index:10;
       width:20px;
       height:19px;
       position:absolute;
       top:10px;
       right:10px;
      
       @mixin medium{
           display:none;
       }

       &::before{
           content:"";
           transform-origin: 0 0;
           position:absolute;
           transition:transform 0.5s ease-out;
           bottom:0;
           width:20px;
           height:3px;
           background-color:white;

       }
       &__middle{
        position:absolute;
        top:8px;
        width:20px;
        height:3px;
        background-color:white;

    }

    &::after{
        transform-origin: 0 100%;
        transition:transform 0.5s ease-out;
        content:"";
        position:absolute;
        width:20px;
        height:3px;
        background-color:white;

    }



   }
   &__menu-icon__closeX{
       .site-header__menu-icon__middle{
           opacity:0;
       }
       

    &::before{
    
        transform: rotate(-45deg) scaleX(1.25);
    }

    &::after{
        transform: rotate(45deg) scaleX(1.25) translateY(-3px) ;

    
    }
   }

   &__menu-content{
       text-align:center;
       opacity:0;
       padding-top:100px;
       position:relative;
       z-index:-1;
       transition: opacity 0.5s ease-out;
       @mixin medium{
           opacity:1;
           z-index:1;
           padding-top:0;
           
       }

       &__is-visible{
           
           opacity:1;
           z-index:1;
       }


   }


}